.content10 {
    background-color: rgb(148, 144, 144);
}

.content10 p {
    position: relative;
    z-index: 2;
    color: rgb(78, 76, 76);
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
}

.colMd {
    display: block;
    position: absolute;
    border: 1px solid silver;
    height: 100px;
    margin-right: 10px;
    background-color: rgb(243, 243, 243);
}

main {
    background-color: white;
    height: 75vh;
}