.content10 {
    background-image: url('../img/cloud.jpeg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
}

.content10 p {
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
}

main {
    height: 75vh;
}