.content10 {
    background-color: #292525;
    background-image: url('../img/cloud.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}

.content10 p {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 26px;
    text-align: center;
}

.colMd {
    display: block;
    position: absolute;
    border: 1px solid red
}