.content10 {
    background-color: #f8f8f8;
    background-image: url('../img/cloud.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    opacity: 0.5;
}

.content10 p {
    z-index: 1;
}