.ListeSide {
    background-color: #282c34;
    margin: 0px;
    height: 90vh;
}

.ListeSide a {
    border-bottom: 1px solid silver;
    line-height: 50px;
    height: 100px;
    background-color: #282c34;
    color: silver;
    font-family: Segoe UI;
    font-size: 16px;
    text-align: center;
}

a:hover {
    color: white;
}

.ListeSide .fa {
    font-size: 30px;
}

.active {
    border: 5px solid rgb(134, 128, 128);
}